* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  display: flex;
  flex-direction: row;
  background-color: #b07c3dad;
  width: 100%;
  margin: 0;
  justify-content: space-between;
  padding: 0.5vw 1vw;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 3vw;
}

li a{
  color: white;
  text-decoration: none;
  font-family:  "Open Sans", sans-serif;
  font-weight: 400;
}

.LinkSeleccionado{
  background-color: white;
  padding: 0.5vw 1vw;
  border-radius: 25px;
}

.LinkSeleccionado a{
  font-weight: 600;
  color: #523614ad;
}

.Logo{
  display: flex;
  flex-direction: row;
}

.Logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.Logo h1 {
  color: white;
  font-family: "Figtree", sans-serif;
}

.Logo img{
  width: 3vw;
  height: 3vw;
}

.Carrito{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Carrito img{
  width: 3vw;
  height: 3vw;
}

.Carrito div{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0.7vw 0.9vw;
  border-radius: 100%;
}

.Carrito div p{
  font-family: "Figtree", sans-serif;
  font-weight: 600;
  color: #523614ad;
}

/*SEGUNDA PRE ENTREGA*/

.producto{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.FotoProducto{
  width: 7vw;
  height: auto;
}

.NombreProducto{
  font-family: "Figtree", sans-serif;
  font-size: 1vw;
}