* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  margin: 0; 
  padding: 0;
  box-sizing: border-box; 
}

.Portada{
  width: 100%;
  height: 25vw;
  object-fit: cover;
  object-position: bottom;
  margin: 0;
}

nav{
  display: flex;
  flex-direction: row;
  background-color: #808080;
  width: 100%;
  margin: 0;
  justify-content: space-between;
  padding: 0.5vw 1vw;
  margin: 0;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 1.5vw;
}

li a{
  color: white;
  text-decoration: none;
  font-family:  "Open Sans", sans-serif;
  font-weight: 400;
}

.LinkSeleccionado{
  background-color: white;
  padding: 0.5vw 1vw;
  border-radius: 25px;
}

.LinkSeleccionado a{
  font-weight: 600;
  color: #808080;
}

.Logo{
  display: flex;
  flex-direction: row;
}

.Logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.Logo h1 {
  color: white;
  font-family: "Figtree", sans-serif;
}

.Logo img{
  width: 3vw;
  height: 3vw;
}

.Carrito{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Carrito img{
  width: 3vw;
  height: 3vw;
}

.Carrito div{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0.7vw 0.9vw;
  border-radius: 100%;
}

.Carrito div p{
  font-family: "Figtree", sans-serif;
  font-weight: 600;
  color: #808080;
}

/*SEGUNDA PRE ENTREGA*/
main{
  display: flex;
  justify-content: center;
  align-items: center;
}
.tienda{
  width: 100%;
}

.tienda .portada{
  width: 100%;
}

.titulo-tienda{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  color: #808080;
  margin: 2vw 0;
  font-size: 5vw;
  font-family: "Figtree", sans-serif
}

.contenido-tienda{
  display: flex;
  flex-direction: row;
  gap: 10vw;
  margin: 2vw 0;
}

.cardProductListContainer{
  margin-right: 3vw;
}

.ProductList{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
}

.producto{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1vw;
  text-decoration: none;
  color: inherit
}

.FotoProducto{
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.FotoProducto img{
  max-width: 9vw;
  max-height: 10vw;
  margin-top: 1vw;
}

.NombreProducto{
  height: 15%;
}

.NombreProducto h1{
  font-family: "Open Sans", sans-serif;
  font-size: 1vw;
  text-align: center;
}

.precio{
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  align-items: center;
  font-size: 1.5vw;
  gap: 1vw;
}

.precioViejo{
  text-decoration: line-through;
  color: red;
}

/*FILTOS*/
.Filtros{
  background-color: #808080;
  line-height: 1vw;
  padding: 1.5vw;
  color: white;
  font-family: "Open Sans", sans-serif;
  padding-right: 2.5vw;
  display: flex;
  flex-direction: column;
}
.Categoria{
  font-size: 1.5vw;
}
.CategoriaTitulo{
  margin: 1vw 0;
}
.SubCategoria {  
  margin-left: 3vw;
  font-size: 1.1vw;
  text-decoration: underline;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.SubCategoria li{
  text-align: left;
}

.Cartel{
  font-family: "Open Sans", sans-serif;
  background-color: #808080;
  margin: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2vw;
  color: white;
  height: 30vw;
  line-height: 7vw;
}

.Cartel h1{
  font-size: 5vw;
}

.Cartel p{
  font-size: 3vw;
}

.imagenCargando {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.imagenCargando img {
  width: 7vw;
  margin: 0;
}