* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  margin: 0; 
  padding: 0;
  box-sizing: border-box; 
}

.Portada{
  width: 100%;
  height: 25vw;
  object-fit: cover;
  object-position: bottom;
  margin: 0;
}

nav{
  display: flex;
  flex-direction: row;
  background-color: #808080;
  width: 100%;
  margin: 0;
  justify-content: space-between;
  padding: 0.5vw 1vw;
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow-y: auto;
  z-index: 1000;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 1.5vw;
}

li a{
  color: white;
  text-decoration: none;
  font-family:  "Open Sans", sans-serif;
  font-weight: 400;
}

.LinkSeleccionado{
  background-color: white;
  padding: 0.5vw 1vw;
  border-radius: 25px;
}

.LinkSeleccionado a{
  font-weight: 600;
  color: #808080;
}

.Logo{
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.Logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.Logo h1 {
  color: white;
  font-family: "Figtree", sans-serif;
}

.Logo img{
  width: 3vw;
  height: 3vw;
}

.Carrito{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Carrito img{
  width: 3vw;
  height: 3vw;
}

.Carrito div{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0.7vw 0.9vw;
  border-radius: 100%;
}

.Carrito div p{
  font-family: "Figtree", sans-serif;
  font-weight: 600;
  color: #808080;
}

/*SEGUNDA PRE ENTREGA*/
main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tienda{
  width: 100%;
}

.tienda .portada{
  width: 100%;
}

.titulo-tienda{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  color: #808080;
  margin: 2vw 0;
  font-size: 5vw;
  font-family: "Figtree", sans-serif
}

.contenido-tienda{
  display: flex;
  flex-direction: row;
  gap: 10vw;
  margin: 2vw 0;
}

.cardProductListContainer{
  margin-right: 3vw;
}

.ProductList{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
}

.producto{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1vw;
  text-decoration: none;
  color: inherit;
}


.FotoProducto{
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.FotoProducto img{
  max-width: 9vw;
  max-height: 10vw;
  margin-top: 1vw;
}

.NombreProducto{
  height: 15%;
}

.NombreProducto h1{
  font-family: "Open Sans", sans-serif;
  font-size: 1vw;
  text-align: center;
}

.precio{
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  align-items: center;
  font-size: 1.5vw;
  gap: 1vw;
}

.precioViejo{
  text-decoration: line-through;
  color: red;
}

/*FILTOS*/
.Filtros{
  background-color: #808080;
  line-height: 1vw;
  padding: 1.5vw;
  width: 17vw;
  color: white;
  font-family: "Open Sans", sans-serif;
  padding-right: 2.5vw;
  display: flex;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 80vh; 
  overflow-y: auto; 
}

.Categoria{
  font-size: 1.5vw;
}
.CategoriaTitulo{
  margin: 1vw 0;
}
.SubCategoria {  
  margin-left: 1.5vw;
  font-size: 1.1vw;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.SubCategoria a{
  transition: 0.5s;
}

.SubCategoria a:hover{
  color: #808080;
  text-decoration: none;
  background-color: white;
  padding: 0 1vw;
}

.SubCategoria li{
  text-align: left;
}

.Filtros .BotonFiltros{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Filtros .BotonFiltros button{
  border: none;
  padding: 0.3vw;
  margin: 2vw 0;
  font-size: 1vw;
  width: 20vw;
  font-family: "Open Sans", sans-serif;
  background-color: white;
  transition: 0.3s;
}

.Filtros .BotonFiltros button:hover{
  cursor: pointer;
  width: 9vw;
}

/*Cartel*/

.Cartel{
  font-family: "Open Sans", sans-serif;
  background-color: #808080;
  margin: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2vw;
  color: white;
  height: 30vw;
  line-height: 7vw;
}

.Cartel h1{
  font-size: 5vw;
}

.Cartel p{
  font-size: 3vw;
}

.imagenCargando {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.imagenCargando img {
  width: 7vw;
  margin: 0;
}

/*Ruta incorrecta*/
.RutaIncorrecta{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.RutaIncorrecta div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  color: white;
  font-family: "Open Sans", sans-serif;
  background-color: red;
  padding: 2vw;
}

.RutaIncorrecta h1{
  text-transform: uppercase;
}

.RutaIncorrecta p{
  font-size: 1.5vw;
}

.RutaIncorrecta button{
  padding: 0.5vw;
  background-color: white;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

/*Muestra producto*/
.ProductoMuestra{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ContainerProductoMuestra{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 3vw;
  gap: 10vw;
  max-width: 75vw;
}

.ImagenProducto img{
  width: 25vw;
}

.InformacionProducto{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0;
}

.NombresProducto{
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-family: "Figtree", sans-serif;
  font-size: 1.5vw;
}

.NombresProducto h1{
  font-weight: 700;
}

.NombresProducto h2{
  font-weight: 300;
}

.DescuentoProducto{
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.DescuentoProducto p{
  font-family: "Figtree", sans-serif;
  background-color: red;
  font-size: 1.5vw;
  color: white;
  font-weight: 800;
  padding: 0.5vw 1.5vw;
}

.PrecioProducto{
  grid-column: 1/4;
  grid-row: 2/3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  font-family:  "Open Sans", sans-serif;
  font-size: 2vw;
}

.PrecioProducto .precioViejoProducto{
  font-size: 1vw;
  color: red;
  text-decoration: line-through;
}

.DescripcionProducto{
  grid-column: 1/4;
  grid-row: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:  "Open Sans", sans-serif;
  font-size: 1vw;
}

.CaracteristicasProducto{
  grid-column: 1/4;
  grid-row: 4/6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family:  "Open Sans", sans-serif;
  margin: 1vw;
}

.CaracteristicasProducto p{
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1vw;
}

.CaracteristicasProducto table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1vw;
  text-align: start;
  width: 50%;
  padding: 1;
}

.CaracteristicasProducto td, .CaracteristicasProducto th {
  border: none; 
  padding: 0 1vw;
}


.CaracteristicasProducto tbody tr:not(:last-child) td {
  border-bottom: 1px solid black;
}

.CaracteristicasProducto tbody tr td:not(:last-child) {
  border-right: 1px solid black;
}

.BotonComprarProducto{
  grid-column: 1/4;
  grid-row: 6/7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BotonComprarProducto button{
  background-color: #808080;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1vw;
  font-size: 1vw;
  border: none;
  width: 20vw;
  transition: 0.3s;
}

.BotonComprarProducto button:hover{
    width: 13vw;
    cursor: pointer;
}

.BotonComprarProducto button img{
  width: 1.5vw;
}

.Buscador{
  width: 60vw;
  height: 1.5vw;
  font-family:  "Open Sans", sans-serif;
  padding: 0.5vw;
  font-size: 1vw;
}

.PaginaListaCompras{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ListaCompras{
  display: flex;
  flex-direction: column;
}

.TablaListaCompras {
  border: 1px solid black;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}